@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment Env

@if (!Env.IsDevelopment())
{
    <HeadContent>
        <meta http-equiv="Content-Security-Policy"
              content="base-uri 'self';
                       default-src 'self';
                       img-src data: https:;
                       object-src 'none';
                       script-src 'self'
                                  'wasm-unsafe-eval';
                       style-src 'self';
                       upgrade-insecure-requests;">
    </HeadContent>
}

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
